@{
    ViewBag.Title = "About";
}
<h2></h2>
<div>
    <h2><font size=5>About</font></h2>
</div>
<div >
    <img src="~/Images/Article/seyma_image.png" align="left" />
    <center>
        <h4> Hello I'm a student of computer engineering.</h4>
        <h4> Nowadays, I'm learning Asp.Net MVC Programming for my blog site.</h4>
        <h4> I hope, it will be getting better with time.</h4>
        <h4> In my blog, you will see about technological news or information.</h4>  
    </center>

</div>
<div><br></br><br></br></div>

<br><font size=5> Some of Courses Taken</font></br>
<div  size="4">
    <h4>Web Technology Applications </h4>
    <h4> Engineering Management </h4>
    <h4> Computer Networks </h4>
    <h4> Programming Language And Automata Theory </h4>
    <h4>Software Engineering</h4>
    <h4> Principles Of Occupational Health And Safety </h4>
    <h4> Design And Analysis of Algorithm </h4>
    <h4> Operating Systems </h4>
    <h4> Database Management Systems </h4>
    <h4> Artificial Intelligence</h4>
    <h4> Signals And Systems </h4>
    <h4> Data Structure </h4>
    <h4> Computer System Architecture </h4>
    <h4>Object Oriented Programming </h4>
</div>
