@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address><h4>
    Yıldırım Beyazıt University<br />
    Faculty of Engineering and Natural Science <br />
    Keçiören/ANKARA
    <!-- <abbr title="Phone">P:</abbr>-->

</h4></address>

<h4><address>
    <strong>Support:</strong>   <a href="cngz.seyma@gmail.com">cngz.seyma@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="http://seymacengiz.blogspot.com.tr/">http://seymacengiz.blogspot.com.tr/</a>
</address></h4>