
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
   <!-- <img src="http://assets.mytopfbcover.com/2012/03/29/80/133450/tech_facebook_timeline_cover.jpg" width="1200px" height="300px">-->
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row" font-size="18px">
    
    <div class="col-md-8">
        <!--<h2><font color="blue">Last Five Article</font></h2>-->
         <h4>@Html.Action("AllArticle")</h4>
       <!-- <p><a class="btn btn-info" style="font-size:150%" href="/Article/Index "> All Articles &raquo;</a></p>-->
    </div>

   <!-- <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div> -->
   
    <div class="col-md-4" style="black">
        <br><br />
        <h5><font color="red" size="5px">Recent Post </font></h5>
        <h5>@Html.Action("LastFiveArticle")</h5>
        <!-- <p><a class="btn btn-link" style="font-size:150%" href="/Home/Index">JAVA &raquo;</a></p>
        <p><a class="btn btn-link" style="font-size:150%" href="/Home/Index" color="blue">C# &raquo;</a></p>
        <p><a class="btn btn-link" style="font-size:150%" href="/Home/Index" color="blue">ASP.NET &raquo;</a></p>
        <p><a class="btn btn-link" style="font-size:150%" href="/Home/Index" color="blue">C++ &raquo;</a></p>-->
    </div>
</div>
